body {
    background: linear-gradient(to right, #FFC0CB, #DDA0DD);
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.card {
    background-color: #FFFAFA;
    padding: 30px;
    border-radius: 20px;
    text-align: center;
    width: 350px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

h1 {
    color: #FFC0CB;
}

p {
    font-size: 16px;
    color: #555;
}

.from {
    margin-top: 20px;
    font-weight: bold;
    color: #ff4d6d;
}
