* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 20px;
  min-height: 100vh;

  background-image: url("images/bg.jpg");
  background-repeat: repeat;
  background-size: 190px;

  display: flex;
  justify-content: center;
  align-items: center;

  font-family: Arial, sans-serif;
}

/* CARD */
.card {
  background: #ffffff;
  width: 100%;
  max-width: 360px;
  border: 3px solid #a6d8ff;

  padding: 28px 24px;
  border-radius: 22px;

  text-align: center;

  box-shadow: 0 10px 25px rgba(138, 174, 207, 0.25);
}

/* Untuk teks panjang */
.long {
  text-align: left;
}

/* TEKS */
.title {
  font-size: 16px;
  font-family: cursive;
  color: #8aaecf;
  margin-bottom: 12px;
  text-align: center;
}

.subtitle {
  font-size: 14px;
  font-family: "Comic Sans MS", "Comic Sans", cursive ;
  color: #7a9bb8;
  margin-bottom: 16px;
}

.text {
  border: 2px solid #a6d8ff;
  font-family: "Comic Sans MS", "Comic Sans", cursive ;
  padding: 12px;
  border-radius: 12px;
  font-size: 15px;
  color: #555;
  line-height: 1.7;
  margin-bottom: 14px;
}

/* BUTTON */
.btn {
  display: inline-block;
  margin-top: 20px;

  padding: 12px 26px;
  background: #8aaecf;
  color: white;
  text-decoration: none;
  border-radius: 30px;

  font-size: 15px;
}

/* RESPONSIVE HP */
@media (max-width: 480px) {
  body {
    padding: 16px;
  }

  .card {
    padding: 24px 20px;
  }

  .title {
    font-size: 22px;
  }

  .text {
    font-size: 14px;
  }
}

.choice {
  display: flex;
  gap: 12px;
  justify-content: center;
  margin-top: 20px;
}

/* tombol versi outline */
.btn-outline {
  background: transparent;
  color: #8aaecf;
  border: 2px solid #a6d8ff;
}

/*foto di yes html*/
.card-img {
  width: 100%;
  border: 3px dotted #a6d8ff;
  max-width: 220px;
  display: block;
  margin: 0 auto 14px;
}

/*border di sekeliling teks dan judul*/
.story-box {
  border: 2px dashed #a6d8ff;
  border-radius: 16px;
  padding: 16px;
  background: rgba(255, 255, 255, 0.6);
  margin-top: 14px;
}

.story-box p {
  font-size: 12px;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  margin-bottom: 12px;
  line-height: 1.6;
  color: #444;
}

.story-box p:last-child {
  margin-bottom: 0;
}

/*teks di index html*/
.intro {
  font-size: 12px;
  font-family: "Comic Sans MS", "Comic Sans", cursive ;
  line-height: 1.6;
  color: #444;
  margin-bottom: 20px;
}
